import discord
from discord.ext import commands
from discord import app_commands

Bot = commands.Bot(command_prefix="+", intents=discord.Intents.all())

@Bot.event
async def on_ready():
    await Bot.tree.sync()
    await Bot.change_presence(activity=discord.Game(name="/"))
    
    print("Aktif.")

@Bot.tree.command(name="avatar", description="Discord User ID / Banner+Avatar")
@app_commands.describe(user="Discord User ID")
async def avatar(ctx: discord.Interaction, user: discord.User):
    try:
        if user:
            user = await Bot.fetch_user(int(user.id))
            
            if user:
                req = await Bot.http.request(discord.http.Route("GET", "/users/{uid}", uid=user.id))
                banner_id = req["banner"]
                if banner_id:
                    banner_url = f"https://cdn.discordapp.com/banners/{user.id}/{banner_id}?size=1024"
                    
                    e = discord.Embed(title=f"{user.name} | Avatar", description=f"- isteyen {ctx.user.mention}")
                    e.set_thumbnail(url=user.avatar)
                    e.set_image(url=banner_url)
                    
                    await ctx.response.send_message(embed=e)
                else:
                    e = discord.Embed(title=f"{user.name} | Avatar", description=f"- isteyen {ctx.user.mention} (Banner bulunamadı. :/)")
                    e.set_thumbnail(url=user.avatar)
                    
                    await ctx.response.send_message(embed=e)
            else:
                await ctx.response.send_message("User bulunamadı. :/")
        else:
            await ctx.response.send_message("User bulunamadı. :/")
    except Exception as e:
        print(e)

Bot.run("BOT_TOKEN")
